*~
/out/fail
/out/pass
/out/refs
/out/ignore
/out/lastlog
/out/revcache
/out/errcache
/out/describe
/out/test
/out/pending
/out/nightly
/out/log
/build
/build_lib
/build_gmock
*.lock
*.pyc
/branches-local
/gfs
/pystubber
