export USE_SYM_LIB="true"
export CXX="ccache g++"
export LOCAL_IP=`ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'`
export GERRIT_IP="10.10.15.20"
export GERRIT_USER="autobuilder"
export AUTOBUILDER_TITLE="Autobuilder results"
